.contact-details-page {
    margin: 3rem auto 0;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    height: 500px;
    overflow: scroll;
    background-color:#192f5d;
    header{
        background-color: rgb(16, 15, 15);
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        button{
            height: 40px;
            width: 50px;
            border: none;
            background-color: rgb(16, 15, 15);
            color: rgb(230, 227, 227);
            font-size: 13px;
            a{color:white}
        }
    }
    .user-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }
        h3{
            font-size: 25px;
            color: #ab3761;
            font-weight: 400;
            margin: 0;
        }
        h5{
            font-size: 15px;
            margin: 15px 0 3px;
            font-weight: 400;
            color: lightgrey;
        }
    }
}

button{
    width: 100px;
    cursor: pointer;
}