.moves-list {
    list-style: none;
    padding: 0;
    height: 200px;
    width: 100%;
    margin-top: 1rem;
    h1{
        font-size: 15px;
        color: lightgrey;
        text-align: center;
        padding: 50px 5px;
    }
    li {
        color: lightgrey;
        background-color:#132446;
        border-bottom: 1px solid black;
        padding: 5px 10px;
        p{margin: 0;}
        .contact-transaction{
            margin-bottom: 5px;
            display: flex;
            span{padding-right: 5px;}
            .contact-name{padding-left: 5px;}
        }
        .status{
            span{padding-left: 5px; color:rgb(38, 77, 120)}
        }
        .at{color: grey;}
        .amount{font-size: 14px; color: greenyellow;}
    }
}
.moves-list li:first-child{
    background-color: #0f1b35;
    height: 30px;
    display: flex;
    align-items: center;
    i{
        padding-right: 5px;
    }
}