.contact-filter {
    height: 24px;
    .name {
        input{
            height: 30px;
            background-color: black;
            color: rgb(236, 231, 231);
            width: 92.7%;
            padding: 4px 12px;
            border: 1px solid black;
        }
    }
}