.contact-preview {
    height: 45px;
    padding: 0 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #eee;
    border-radius: 30px;
        h5 {
            color: rgb(45, 41, 41);
        }
}