.home-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    .user-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        text-align: left;
        margin-top: 5rem;
        padding: 20px 50px;
        color: rgb(234, 225, 225);
        background-color: rgb(36, 34, 34);
        width: 20%;
        height: 400px;
        h1{font-size: 22px;} h3{font-size: 18px;}
    }
}